body {
   
	font-family: sans-serif;
	text-align: center;

}

input[type='submit'] {
    color: blue;
}

input[type='text'],
input[type='number'],
.date {
     color: rgba(0, 0, 0, 0.8);
}
.questions{
	display:none;
}
/* 
#quest_jovem1 {
.questions {
	display: none;
}

#quest_jovem2 {
	display: none;
}

#quest_idoso1 {
	display: none;
}


#quest_idoso2 {
#PP_significativa {
	display: none;
} */

#PP_significativa {
	display: none;	
}

#Estado_geral {
	display: none;
}


#imc {
	display: none;
} 


#imc_idoso {
	display: none;
} 
#perda_peso {
	display: none
}

#circ_panturrilha {
	display: none;
}
#result_form {
	display: none;
}
#result_form {
	font-size: 20px
}

