body {
    color: #rgba(0, 0, 0, 0.8);
    font-family: sans-serif;

}

input[type='submit'] {
    color:grrgba(0, 0, 0, 0.8);
}

input[type='text'],
input[type='number'],
.date {
    color:blue;
}

.questions {
	display: none;
}

#PP_significativa {
	display: none;
}

#Estado_geral {
	display: none;
}

#result_form {
	display: none;
}
